/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #895c02;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #654504;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #ffca5f;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-first {
  --ion-color-base: var(--ion-color-first);
  --ion-color-base-rgb: var(--ion-color-first-rgb);
  --ion-color-contrast: var(--ion-color-first-contrast);
  --ion-color-contrast-rgb: var(--ion-color-first-contrast-rgb);
  --ion-color-shade: var(--ion-color-first-shade);
  --ion-color-tint: var(--ion-color-first-tint);
}

.ion-color-second {
  --ion-color-base: var(--ion-color-second);
  --ion-color-base-rgb: var(--ion-color-second-rgb);
  --ion-color-contrast: var(--ion-color-second-contrast);
  --ion-color-contrast-rgb: var(--ion-color-second-contrast-rgb);
  --ion-color-shade: var(--ion-color-second-shade);
  --ion-color-tint: var(--ion-color-second-tint);
}

.ion-color-third {
  --ion-color-base: var(--ion-color-third);
  --ion-color-base-rgb: var(--ion-color-third-rgb);
  --ion-color-contrast: var(--ion-color-third-contrast);
  --ion-color-contrast-rgb: var(--ion-color-third-contrast-rgb);
  --ion-color-shade: var(--ion-color-third-shade);
  --ion-color-tint: var(--ion-color-third-tint);
}

.ion-color-fourth {
  --ion-color-base: var(--ion-color-fourth);
  --ion-color-base-rgb: var(--ion-color-fourth-rgb);
  --ion-color-contrast: var(--ion-color-fourth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fourth-contrast-rgb);
  --ion-color-shade: var(--ion-color-fourth-shade);
  --ion-color-tint: var(--ion-color-fourth-tint);
}

.ion-color-fifth {
  --ion-color-base: var(--ion-color-fifth);
  --ion-color-base-rgb: var(--ion-color-fifth-rgb);
  --ion-color-contrast: var(--ion-color-fifth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fifth-contrast-rgb);
  --ion-color-shade: var(--ion-color-fifth-shade);
  --ion-color-tint: var(--ion-color-fifth-tint);
}

.ion-color-sixth {
  --ion-color-base: var(--ion-color-sixth);
  --ion-color-base-rgb: var(--ion-color-sixth-rgb);
  --ion-color-contrast: var(--ion-color-sixth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sixth-contrast-rgb);
  --ion-color-shade: var(--ion-color-sixth-shade);
  --ion-color-tint: var(--ion-color-sixth-tint);
}

.ion-color-seventh {
  --ion-color-base: var(--ion-color-seventh);
  --ion-color-base-rgb: var(--ion-color-seventh-rgb);
  --ion-color-contrast: var(--ion-color-seventh-contrast);
  --ion-color-contrast-rgb: var(--ion-color-seventh-contrast-rgb);
  --ion-color-shade: var(--ion-color-seventh-shade);
  --ion-color-tint: var(--ion-color-seventh-tint);
}

.ion-color-eighth {
  --ion-color-base: var(--ion-color-eighth);
  --ion-color-base-rgb: var(--ion-color-eighth-rgb);
  --ion-color-contrast: var(--ion-color-eighth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-eighth-contrast-rgb);
  --ion-color-shade: var(--ion-color-eighth-shade);
  --ion-color-tint: var(--ion-color-eighth-tint);
}

.ion-color-ninth {
  --ion-color-base: var(--ion-color-ninth);
  --ion-color-base-rgb: var(--ion-color-ninth-rgb);
  --ion-color-contrast: var(--ion-color-ninth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ninth-contrast-rgb);
  --ion-color-shade: var(--ion-color-ninth-shade);
  --ion-color-tint: var(--ion-color-ninth-tint);
}

.ion-color-tenth {
  --ion-color-base: var(--ion-color-tenth);
  --ion-color-base-rgb: var(--ion-color-tenth-rgb);
  --ion-color-contrast: var(--ion-color-tenth-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tenth-contrast-rgb);
  --ion-color-shade: var(--ion-color-tenth-shade);
  --ion-color-tint: var(--ion-color-tenth-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
ion-popover.popover-label-wrap
  > div.popover-wrapper
  > div.popover-content
  > ion-select-popover
  > ion-list
  > ion-radio-group
  > ion-item
  > ion-label {
  white-space: pre-wrap;
}
ion-app {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.login-page {
  margin-top: 16px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

ion-content {
  font-family: 'Inter', sans-serif;
}

ion-text {
  font-family: 'Inter', sans-serif;
}

ion-card-title {
  font-family: 'Inter', sans-serif;
}

ion-card.login-card {
  background-color: var(--ion-color-tertiary);
  width: 100%;
  min-height: 50%;
  min-height: calc(50% - constant(safe-area-inset-top));
  min-height: calc(50% - env(safe-area-inset-top));
  margin: 0;
  padding: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

ion-item.input-rounded {
  border-radius: 30px;
  margin: 20px;
  color: var(--ion-color-medium);
  font-size: small;
  --placeholder-color: var(--ion-color-dark);
}

ion-item.input-rounded > ion-input > input {
  margin-left: 8px;
}
.card-product {
  width: 'full';
  display: flex;
  flex-direction: 'row';
}

.card-product .card-product-name {
  height: 35px;
  padding-bottom: 4px;
}

.card-product .card-product-name ion-text {
  color: var(--ion-color-dark);
}

.card-product-label {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-dark);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.card-product .card-image {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product .card-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.product-detail-price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-detail-name {
  font-size: 20px;
}

.product-detail-seller {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
}
.product-detail-seller ion-row:first-child {
  font-weight: 600;
  font-size: 17px;
}
.product-detail-seller ion-row:last-child {
  font-weight: 300;
  font-size: 14px;
  margin-top: 2px;
}

.product-detail-seller-container {
  margin-top: 26px;
  margin-bottom: 26px;
}

.product-detail-description ion-text:first-child {
  font-weight: 600;
}
.product-detail-description ion-text:last-child {
  font-weight: 300;
}
.product-detail-category {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}

.profile ion-avatar {
  height: 150px;
  width: 150px;
  margin: auto;
}

.upload-button ion-text {
  padding-left: 8px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-large-2 {
  font-size: 35px;
}

.text-large {
  font-size: 24px;
}

.text-medium {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}

.text-small-2 {
  font-size: 14px;
}

.text-smaller {
  font-size: 10px;
}

.transparent {
  background: transparent;
}

.ion-margin-bottom-min {
  margin-bottom: 4px;
}

.ion-margin-top-min {
  margin-top: 4px;
}

.ion-margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

ion-item.no-margin-bottom {
  margin-bottom: 0px;
}

.ion-margin-start-half {
  margin-left: 8px;
}

.ion-margin-start-double {
  margin-left: 32px;
}

.ion-margin-end-half {
  margin-right: 8px;
}

.ion-margin-top-half {
  margin-top: 8px;
}

.ion-margin-bottom-half {
  margin-bottom: 8px;
}

.ion-padding-x-double {
  padding-left: 32px;
  padding-right: 32px;
}

.ion-padding-start-half {
  padding-left: 8px;
}
